<div class="footer">
				<div class="footer-content">
					<div class="row">
						<div class="col-xs-6">
							<img src="/assets/fb.png" alt="CZSale" title="CZSale" style="width: 58px; height: 58px;" />
						</div>
						<div class="col-xs-6 text-right">
							<a href="#" class="btn btn-link">Help</a>
							<span class="bar">|</span>
							<a href="#" class="btn btn-link">Contact</a>
							<span class="bar">|</span>
							<a href="#" class="btn btn-link">Rules & conditions</a>
						</div>
					</div>
				</div>
			</div>