<div class="col-lg-3 content-left">
	<div class="hidden-xs hidden-sm hidden-md">
		<h4>Newest @GiftCardSpread</h4>
		<div class="tweecool"></div>
	</div>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('.tweecool').tweecool({
				username: 'GiftCardSpread',
				limit: '5',
				searchWithHashtags: true,
				parseUsers: true,
				parseHashtags: true,
				parseUrls: true,
				urlClass: 'tweet_link',
				userClass: 'tweet_user',
				hashtagClass: 'hashtag',
				profile_image: true
			});
		});
	</script>
</div>